---
import Layout from "@layouts/Layout.astro";
const title = "KANEKA OLED EC";
const description = "";
const baseUrl = import.meta.env.VITE_BASE_URL || "/assets";
---

<Layout title={title}>
  <section class="section fv top__fv">
    <div class="fv__inner top__inner">
      <picture>
        <source media="(max-width: 576px)" srcset={`${baseUrl}/images/top_fv_sp.webp`} />
        <img src={`${baseUrl}/images/top_fv.webp`} alt="KANEKA OLED CREAFTS ONLINE STORE" />
      </picture>
    </div>
  </section>

  <!-- product -->
  <section class="section product">
    <div class="section__inner">
      <h2 class="section__title">PRODUCTS</h2>
      <h3 class="section__title-sub">商品一覧</h3>

      <div class="product__list">
        <a href="https://stg.shop.kaneka.co.jp/lp/OLED_item/" class="product__item">
          <div class="">
            <img src={`${baseUrl}/images/product01.webp`} alt="T-Lamp L" />
          </div>
          <p class="product__brand">KANEKA OLED CRAFTS</p>
          <span class="product__name">T-Lamp L</span>
        </a>
        <a href="https://stg.shop.kaneka.co.jp/lp/OLED_item02?color=white" class="product__item">
          <div class="">
            <img src={`${baseUrl}/images/product02.webp`} alt="T-Lamp S(white)" />
          </div>
          <p class="product__brand">KANEKA OLED CRAFTS</p>
          <span class="product__name">T-Lamp S</span>
        </a>
        <a href="https://stg.shop.kaneka.co.jp/lp/OLED_item02?color=beige" class="product__item">
          <div class="">
            <img src={`${baseUrl}/images/product03.webp`} alt="T-Lamp S(Beige)" />
          </div>
          <p class="product__brand">KANEKA OLED CRAFTS</p>
          <span class="product__name">T-Lamp S</span>
        </a>
        <a href="https://stg.shop.kaneka.co.jp/lp/OLED_item02?color=brick" class="product__item">
          <div class="">
            <img src={`${baseUrl}/images/product04.webp`} alt="T-Lamp S(Brick)" />
          </div>
          <p class="product__brand">KANEKA OLED CRAFTS</p>
          <span class="product__name">T-Lamp S</span>
        </a>
        <a href="https://stg.shop.kaneka.co.jp/lp/OLED_item03/" class="product__item">
          <div class="">
            <img src={`${baseUrl}/images/product05.webp`} alt="4SIDE" />
          </div>
          <p class="product__brand">KANEKA OLED CRAFTS</p>
          <span class="product__name">4SIDE</span>
        </a>
      </div>
    </div>
  </section>

  <!-- crafts -->
  <section class="section crafts">
    <div class="section__inner">
      <h2 class="section__title">KANEKA OLED CRAFTSについて</h2>

      <ul class="box__content">
        <li class="box__content-read">
          <div class="box__header">
            <h3 class="box__title">暮らしに、空間に、美しさを添えるあかりを。</h3>
            <div class="box__logo"><img src={`${baseUrl}/images/bar_logo.webp`} alt="KANEKA OLED CRAFTS" /></div>
            <p class="box__text">「KANEKA OLED」の光にふさわしい器として生まれたのが、KANEKA OLED CRAFTSです。</p>
            <a href="https://www.kanekaoled.jp/crafts/" target="_blank" class="cta__button">
              <span class="cta__button-inner">製品サイトを見る<span class="sr-only">新しいウィンドウで開きます</span></span>
            </a>
          </div>
        </li>
        <li class="box__content-pic">
          <img src={`${baseUrl}/images/bar_img01.webp`} alt="KANEKA OLED CRAFTS" />
        </li>
      </ul>
    </div>
  </section>

  <!-- crafts -->
  <section class="section crafts">
    <div class="section__inner">
      <h2 class="section__title">KANEKA OLEDについて</h2>
      <ul class="box__content">
        <li class="box__content-read">
          <div class="box__header">
            <h3 class="box__title">次の時代のあかりとは何か。カネカが出した答えです。</h3>
            <div class="box__logo"><img src={`${baseUrl}/images/bar_logo02.webp`} alt="KANEKA OLED" /></div>
            <p class="box__text">「KANEKA OLED」は、わずか1.1mmの薄いガラス板が面で発光する新しい照明光源です。</p>
            <a href="https://www.kanekaoled.jp/" target="_blank" class="cta__button">
              <span class="cta__button-inner">ブランドサイトを見る<span class="sr-only">新しいウィンドウで開きます</span></span>
            </a>
          </div>
        </li>
        <li class="box__content-pic">
          <img src={`${baseUrl}/images/bar_img02.webp`} alt="KANEKA OLED" />
        </li>
      </ul>
    </div>
  </section>
</Layout>
